.Header {
    display: grid;
    grid-template-areas: "logo nav";
    background-color: #F9EDCC;
    width: 100%;
}

.Nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-items: center;
}

.Logo {
    max-height: 200px;
    max-width: 300px;
}

.LogIn {
    background-color: orange;
    height: 50px;
    width: 300px;
}

.Join {
    background-color: orange;
    height: 50px;
    width: 300px;
}